    @if (departments.length > 0) {
<p-table #dtDepartments
         [value]="this.departments"
         [columns]="columnNames"
         [paginator]="true"
         showGridLines
         stripedRows
         [rows]="3"
         [rowsPerPageOptions]="[3, 5, 10, 15]"
         [globalFilterFields]="['firstName', 'lastName', 'email', 'phone', 'departmentName']"
         sortMode="multiple">
  <ng-template #caption>
    <div class="flex">
      <p-iconfield iconPosition="left" class="ml-auto">
        <p-inputicon>
          <i class="pi pi-search"></i>
        </p-inputicon>
        <div class="d-flex justify-content-end">
          <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search keyword" />
        </div>
      </p-iconfield>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columnNames>
    <tr>
      <th *ngFor="let col of columnNames" pSortableColumn="col.name">
        {{ col.value }}
        @if (col.filter !== '') {
        <p-columnFilter type="text" field="col.filter" display="menu" />
        }
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-departmentsItem>
    <tr>
      <td>
        <div class="row">
          <div class="col-md-auto">
            <button (click)="editButtonClick($event, departmentsItem.id)" class="btn btn-success" type="button"><span class="fas fa-user"></span>&nbsp;Edit</button>
          </div>
          <div class="col-md-auto">
            @if (!departmentsItem.isAssigned) {
            <button (click)="deleteButtonClick($event, departmentsItem.id)" [disabled]="departmentsItem.isAssigned" class="btn btn-danger" type="button"><span class="fas fa-window-close"></span>&nbsp;Delete</button>
            } @else {
            <div class="text-light bg-info border border-primary rounded rounded-3 p-1 mt-1"><fa-icon [icon]="faInfoCircle"></fa-icon>&nbsp;Employees Assigned</div>
            }
          </div>
        </div>
      </td>
      <td>{{ departmentsItem.name }}</td>
    </tr>
  </ng-template>
</p-table>
    } @else {
<div class="d-flex justify-content-center mt-2">
  <h6 class="alert alert-info">No departments found...</h6>
</div>
    }
<p-confirmDialog [style]="{width: '40vw'}"></p-confirmDialog>
