<div class="row mb-3">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1 id="tableLabel">Weather forecast</h1>

    <p>This component demonstrates fetching data from the server.</p>

    @if (!forecasts) {
      <p><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>
    }

    <div class="row mb-3">
      <div class="col-md-12">
        @if (forecasts) {
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
              </tr>
            </thead>
            <tbody>
              @for (forecast of forecasts; track forecast) {
                <tr>
                  <td>{{ forecast.date }}</td>
                  <td>{{ forecast.temperatureC }}</td>
                  <td>{{ forecast.temperatureF }}</td>
                  <td>{{ forecast.summary }}</td>
                </tr>
              }
            </tbody>
          </table>
        }
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<form [formGroup]="employeeForm" (ngSubmit)="Submit()">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row mb-3">
        <div class="col-md-12">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Department</th>
              </tr>
            </thead>
            <tbody>
              @for(employeesItem of employees; track employeesItem)
              {
              <tr>
                <td>
                  <button (click)="editButtonClick($event, employeesItem.id)" class="btn btn-success" type="button"><fa-icon [icon]="faUser"></fa-icon>&nbsp;Edit</button>
                </td>
                <td>
                  {{ employeesItem.firstName }}
                </td>
                <td>
                  {{ employeesItem.lastName }}
                </td>
                <td>
                  {{ employeesItem.phone }}
                </td>
                <td>
                  {{ employeesItem.email }}
                </td>
                <td>
                  {{ employeesItem.departmentName }}
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
      <fieldset class="border border-primary rounded rounded-3 p-3 mb-3">
        <legend>Employee Information</legend>
        <div class="row">
          <div class="col-md-6">
            <div class="form-floating mb-1">
              <input id="txtEmployeeFirstName" class="form-control" required type="text" [(value)]="employee.firstName" formControlName="firstName" />
              <label for="txtEmployeeFirstName" class="form-label">First Name&nbsp;<fa-icon class="text-danger" [icon]="faAsterisk"></fa-icon></label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating mb-1">
              <input id="txtEmployeeLastName" class="form-control" required type="text" [(value)]="employee.lastName" formControlName="lastName" />
              <label for="txtEmployeeLastName" class="form-label">Last Name&nbsp;<fa-icon class="text-danger" [icon]="faAsterisk"></fa-icon></label>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <div class="form-floating mb-1">
              <input id="txtEmployeePhone" class="form-control" type="tel" [(value)]="employee.phone" formControlName="phone" />
              <label for="txtEmployeePhone" class="form-label">Phone</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating mb-1">
              <input id="txtEmployeeEmail" class="form-control" type="email" [(value)]="employee.phone" formControlName="phone" />
              <label for="txtEmployeeEmail" class="form-label">Phone</label>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12">
            <div class="form-floating mb-1">
              <select id="selEmployeeDepartment" class="form-select" [(value)]="employee.departmentId">
                <option value="">--please select--</option>
                @for(option of departments; track option.id) {
                <option value="{{ option.id }}">{{ option.name }}</option>
                }
              </select>
              <label for="selEmployeeDepartment">Department</label>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="row mb-3">
        <div class="col-md-12">
          <button class="btn btn-success" type="submit"><fa-icon [icon]="faCheckCircle"></fa-icon>&nbsp;Submit</button>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</form>
