@if(this.statusMessage.length >0) {
<div class="sticky-top">
  <div class="row md-3">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="d-flex justify-content-center alert alert-info border border-primary ronded rounded-3 fw-bold">{{ this.statusMessage }}</div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
}
<div class="row mb-3">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1 id="tableLabel">Employee Management</h1>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row mb-3">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="d-flex justify-content-start">
      @if (this.hasDepartments) {
      <button id="btnAddEmployee" (click)="addButtonClick($event)" class="btn btn-success"><fa-icon [icon]="faPlusCircle"></fa-icon>&nbsp;Add New</button>
      } @else {
      <div class="bg-warning border border-danger rounded rounded-3 p-1 mt-1"><fa-icon [icon]="faExclamationTriangle"></fa-icon>&nbsp;You must create at least one department before adding or editing employees</div>
      }
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<form [formGroup]="employeeForm" (ngSubmit)="Submit()">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <employee-table #childEmployeeTable
                      (reloadAfterClientEditClick)="reloadAfterClientEditClick($event)"
                      (showStatusMessage)="showStatusMessage($event)"
                      [hasDepartments]="this.hasDepartments">
      </employee-table>
      <fieldset class="border border-primary rounded rounded-3 p-3 mb-3">
        <legend>Employee Information</legend>
        <div class="row mb-3">
          <div id="dvFirstName" class="col-md-6">
            <validated-textbox-component #employeeFirstNameControl
                                         label="First Name"
                                         type="text"
                                         placeholder="First Name"
                                         [maxLength]=100
                                         [required]="true"
                                         (valueChange)="onSubControlChange($event, 'firstName')"
                                         (blur)="onSubControlBlur($event, 'firstName')">
            </validated-textbox-component>
          </div>
          <div class="col-md-6">
            <validated-textbox-component #employeeLastNameControl
                                         label="Last Name"
                                         type="text"
                                         placeholder="Last Name"
                                         [maxLength]=100
                                         [required]="true"
                                         (valueChange)="onSubControlChange($event, 'lastName')"
                                         (blur)="onSubControlBlur($event, 'lastName')">
            </validated-textbox-component>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <validated-textbox-component #employeePhoneControl
                                         label="Phone"
                                         type="tel"
                                         placeholder="Phone"
                                         [maxLength]=12
                                         [minLength]=7
                                         [required]="false"
                                         (valueChange)="onSubControlChange($event, 'phone')"
                                         (blur)="onSubControlBlur($event, 'phone')">
            </validated-textbox-component>
          </div>
          <div class="col-md-6">
            <validated-textbox-component #employeeEmailControl
                                         label="Email"
                                         type="email"
                                         placeholder="Email"
                                         [maxLength]=100
                                         [required]="false"
                                         [email]=true
                                         (valueChange)="onSubControlChange($event, 'email')"
                                         (blur)="onSubControlBlur($event, 'email')">
            </validated-textbox-component>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <validated-select-component #employeeDepartmentControl
                                        label="Department"
                                        [required]="true"
                                        (valueChange)="onSelectSubControlChange($event, 'departmentIdString')"
                                        (blur)="onSubControlBlur($event, 'departmentIdString')">
            </validated-select-component>
          </div>
        </div>
      </fieldset>
      @if (this.hasDepartments) {
      <div class="row mb-3">
        <div class="col-md-12">
          <button class="btn btn-success" type="submit"><fa-icon [icon]="this.saveButtonIcon"></fa-icon>&nbsp;{{ this.submitButtonText }}</button>
        </div>
      </div>
      }
    </div>
    <div class="col-md-1"></div>
  </div>
</form>
